extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa possimus, adipisci eos et excepturi nam, dolorem numquam, eius mollitia quia voluptatem accusantium quisquam fuga ad.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam id dignissimos cumque impedit adipisci, non necessitatibus modi tenetur rem obcaecati quod hic illo repudiandae soluta maiores porro nemo pariatur, aliquam vero doloribus asperiores corrupti sint aliquid. Odit quo natus maxime commodi consequuntur architecto maiores? Soluta earum suscipit ab deleniti. Voluptatum sequi nemo saepe quam, ratione exercitationem modi officiis expedita distinctio soluta veritatis animi sapiente repudiandae voluptate, deleniti eos reprehenderit? Hic omnis debitis sequi distinctio earum in temporibus, illum provident inventore veniam dolorem quibusdam sunt laudantium maxime tempora repellendus vel fuga itaque possimus. Ab tenetur rem aliquam velit obcaecati possimus! Dignissimos. 